<h1>Sandwiches</h1>


 <% if user_signed_in? %>

 <h4> You are signed in <%= current_user.name %></h4>

 
 	
 <%else %>

<h3 align= "right"><%= link_to "Log In", new_user_session_path %> </h3> 
<h3 align= "right"><%= link_to "Sign Up", new_user_registration_path %></h3>

<% end %>

<% @sandwich.each do |s| %>
<%= link_to "#{s.name}", sandwich_path(s) %><br>
<% end %> 



