<h2> Contact Details </h2>

<h5> The contact you selected is </h5><br>	
	 <%= @contact.name %> <br>
 	 <%= @contact.address %> <br>
	 <%= @contact.phonenumber %> <br>
	 <%=@contact.emailaddress %> </li><br>