<form action= "submit" method= "post">

	<input type = "text" name = "title"  placeholder="Title">
	<p>

	<input type = "text" name = "date" placeholder="Date">
	<p>

	<input type = "text" name = "text" placeholder="Comments here">
	<p>

	<input type= "submit" name= "button" value = "create_post">


</form>