<h1> Welcome To The Pizza Party</h1> 

<ul>

<% @posts.each_with_index do |x, index| %>
  <li> <a href="/post_details/<%= index %>">  <%= x.title %> </a> </li>
<% end %>

<h4> <a href= "/create_post"> CLICK HERE TO CREATE A NEW POST!!! </a>

</ul>



