<h1>Word Central</h1>

<h2>Submit text for inspection</h2>

<form action = "/textinspections" method = "post">
	<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">

	<div>
		<label for="text_inspection_user_text">Text</label>
		<textarea name="textinspection[user_text]" id="textinspection_user_text"></textarea>
	</div>

	<button type = "submit"> 
		Submit Text 
	</button>
</form>
