<h2> Your word count is </h2>
<h3> <%= @word_count %> </h3>

<h3> Your original text was </h3>
<h5> <%= @text %> </h5>


<h4> On average it should take </h4>
<h5> <%= @word_count/4.58.round %> seconds to read.</h5>

<p> You used these common words </p>
 <% @sorted_text.each do |item|%>
 <%= "#{item[0]}" + " = " + "#{item[1]}" + " times" %><br>
 <% end %>


<a href = "/"> Back to home page</a>
