<%= image_tag "drums.gif", width: 200%>


<h3> List of Upcoming Jams </h3>



<ul style = "list-style :square">
<% @concert.each do |the_concert| %>
	<li>
	<%= link_to the_concert.name, "/concerts/#{the_concert.id}" %>
	</li>

<% end %>
</ul>

<a href = "/concerts/new" ><em> Create a new concert </em> </a>

