code {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	padding: 24px 15px;
	text-align: center;
}
header,
section,
aside,
footer{
	margin: 0 1.5% 24px 1.5%;
	position: relative;
	top: 200px;
	left: -400px;

}
header{
	margin: 0 1.5% 24px 1.5%;
	position: absolute;
	top: 120px;
	left: 200px;
}

img {
	float: right;
	width:200px;
	
}
.image-container{
	overflow: auto;
}