	<h1> My first Sinatra app. </h1>
	<link rel="stylesheet" href="/styles.css">

	 <% if Date.today.tuesday? %>
	 <p>
	 	Izzy Ironside is <strong>NOT</strong>
	 	our new Investor.
	 </p>
	 <% end %>

	<a href= '/company'> See company page </a> 
	<p></p>
	<a href = '/about'> About company </a>
	<p></p>
	<a href = '/recipes'> The Best Pizza </a>
	<p></p>
	<a href = '/leadership'> Our leader</a>
	<p>

	<small>
Currently in the session:
<b><%= session[:saved_value] %></b>
</small>
