<h1> Your leader </h1>


<ul>
	<li>
		<h2>The Cookie Hoarder</h2>
		<p> Head Cookie Hoarder</p>
		<img src = "/cookie.gif">
	</li>
</ul>
<p>

<small>
Currently in the session:
<b><%= session[:saved_value] %></b>
</small>

