<h1> Welcome to Bidding Wars </h1>


<img src= https://media4.giphy.com/media/s2Yf3kHkS7DJm/200.gif>

<ul> 
<li> 
	<%= link_to "Users" , users_page_path %>
	</li>
	<br>
<li>
	<%= link_to "Products", product_page_path %>
</li>

</ul>


