<h2>  Specific User Chosen </h2>

<ul> 
	<li> <%= @users.name %>  <br> 
		<%= @users.email %> <br>

<br>
<br>
	
	</li>
</ul>





<ul> 
<li> 
	<%= link_to "Click to Add New User", add_new_user_path %>
</li>

</ul>