	<header>
  		<h1> Find your Jam! </h1>

  		<ul style = "list-style :none">
  			<li>
  				<a href= "/"> Home </a>
  			</li>

  			<li>
  				<a href = "/concerts"> List of Concerts </a>
  			</li>
     		</ul>
  	</header>