<h2> "Use the submit button below to start your trivia" </h2>

<form method = post   action = "/search_results">

<input type = "text" name =  "title" placeholder="Input Search">

<input type = "submit">

</form>