	<header>
  		<h1> TimeTracker </h1>

  		<ul>
  			<li>
  				<a href= "/"> Home </a>
  			</li>

  			<li>
  				<a href = "/contact"> Contact </a>
  			</li>
        <li>
          <a href = "/projects"> Project List </a>
        </li>
        <li>
        <a href = "/projects/new"> <em>Create an AWESOME new post</em> </a>
        </li>
  		</ul>
  	</header>