<h3 align = "center"> What comics do you have? </h3>

 <% if user_signed_in? %>

 <h4> See other users </h4>
 	<ul> 
 		<% @users.each do |the_user| %>
 			<li>
 				<%= link_to the_user.name, user_path(the_user) %>
 			</li>
 		<% end %>
 	</ul>
 	
 <%else %>

<h3 align= "right"><%= link_to "Log In", new_user_session_path %> </h3> 
<h3 align= "right"><%= link_to "Sign Up", new_user_registration_path %></h3>

<% end %>