#header-image {
	height: 300px;
	background-image: url(../image/firstcity.jpg);
	background-repeat: no-repeat;

}


/*show a larger image when you're on a big screen*/

@media screen and (min-width:786px){
	#header-image{
		background-image:url(../image/city2.jpg);
		
	}
}

@media screen and (min-width:992px){
	#header-image{
		
		background-image:url(../image/city1.jpeg);
		
	}
}

@media screen and (min-width: 1200px ){
	#header-image{
		
		background-image:url(../image/city.jpg);
		
	}
}





